<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="foo" class="com.bankapp.Foo">
		<property name="message" value="learing spring basics"></property>
	</bean>

	<context:annotation-config/>
	<context:component-scan base-package="com.bankapp"/>
	<bean class="com.bankapp.MyBeanPP"></bean>
	<bean class="com.bankapp.BeanFactoryPP"></bean>
</beans>
